.btn--final {
  background-color: grey;
  color: white;
  padding: 1.5em 4em;

  border-radius: 0.5em;
}

.btn--final:disabled {
  pointer-events: none;
  color: grey;
  background: white;
}

.shadow {
  box-shadow: 4px 7px 4px 2px hsla(0, 13%, 81%, 0.72);
}
