body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
}

.btn.default {
  background-color: grey;
  color: black;
}
.btn.danger {
  background-color: red;
}

.btn.secondary {
  background-color: green;
}
.btn.primary {
  background-color: blue;
}
